body {
    height: 2000px;
}

.counters-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1000px;
    width: 100%;
    padding: 50px 0;
    background-color: dimgray
}

.counter {
    margin-right: 50px;
    font-size: 100px;
    color: white
}